.header {
  background-color: #222222;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #303030;

  display: flex;
  justify-content: center;

  .container {
    width: 1140px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul.nav_list {
      list-style: none;
      display: flex;

      gap: 10px;

      li:nth-child(1) {
        a:nth-child(1) {
          background-color: #303030;
        }
      }

      a {
        color: #fff;
        line-height: 24px;
        text-align: left;
        padding: 10px 20px;

        transition: 0.3s;
        border-radius: 25px;
      }

      a:hover {
        background-color: #494949;
      }
    }
    .buy_button {
      background-color: #fcb61a;
      padding: 10px 25px;
      border-radius: 20px;
      height: 40px;
      color: #313132;
    }

    .buy_button:hover {
      cursor: pointer;
      transition: 0.3s;
      background-color: #e2a115;
    }
  }
}
